[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CoRpower"]
	path = CoRpower
	url = https://github.com/mjuraska/corpower
	shallow = true
	registered = true
[submodule "futility"]
	path = futility
	url = https://github.com/mjuraska/futility
	shallow = true
	registered = true
[submodule "pssmooth"]
	path = pssmooth
	url = https://github.com/mjuraska/pssmooth
	shallow = true
	registered = true
[submodule "seqDesign"]
	path = seqDesign
	url = https://github.com/mjuraska/seqdesign
	shallow = true
	registered = true
[submodule "sievePH"]
	path = sievePH
	url = https://github.com/mjuraska/sieveph
	shallow = true
	registered = true
[submodule "speff2trial"]
	path = speff2trial
	url = https://github.com/mjuraska/speff2trial
	shallow = true
	registered = true
